/**
 * The following styles get applied both on the front of your site and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-learn-iron-code-block-two-elements-iron-code-two-elements {
	background-color: #007fbc;
	border: 5px solid #fff;
	color: #fff;
	margin: 0 0 20px;
	outline: 5px solid #19a7d9;
	padding: 10px;
}
